<!-- grid layout -->
<div class="grid-container">

    <!-- grid 1 -->
    <header class="grid-item1">
      <nav>
        <img src="../assets/images/logo.svg" alt="web logo"/>
      </nav>
    </header>
  
    <!-- grid 2 -->
    <main class="grid-item2">
      <app-content></app-content>
    </main>
  
    <!-- grid 3 -->
    <div class="grid-item3">
      <footer>
        <p class="attribution">
          Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
          Coded by <a href="https://github.com/Kennedy-was-taken/landing-page-with-single-introductory">Tokelo</a>.
        </p>
      </footer>
    </div>  
  
</div>

<!-- Pop up -->
<section *ngIf="isFeedBackVisible">

  <div class="popup-container">

    <p class="qoute">Successfully Registered</p>
    <button type="button" (click)="closePopUP()">Close</button>

  </div>
</section>