/* font to be used */
@font-face {
    font-family: 'Open-sans';
    src: url('../../assets/fonts/Open_Sans/static/OpenSans-Light.ttf');
}

/* positioning of the popup */
section{
    z-index: 1;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* how the grid and contents are displayed */
.grid-container{
    display: grid;
    grid-template-rows: 14vw 1fr 3rem;
    height: 100%;
}

/* grids functions */
.grid-item1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.grid-item2{
    padding-top: 8vw;
    margin-left: 9vw;
    margin-right: 9vw;
}

.grid-item3{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* display setting for nav */
nav{
    display: flex;
    align-items: end;
    margin-left: 7vw;
    margin-right: 7vw;
}

img{
    height: 7vw;
    width: 100%;
    object-fit: contain;
}


/* display setting for footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    margin: 0px;
}

/* customization for the font */
.attribution { 
    font-size: 2vw; 
    text-align: center; 
    color: hsl(0, 0%, 100%); 
}

.attribution a { 
    color: hsl(180, 57%, 53%); 
}

/* popups containers properties */
.popup-container{
    display: flex;
    flex-direction: row;
    padding: 2vw;
    width: 45%;
    height: 10vw;
    background-image: url('../../assets/images/bg-desktop.svg');    
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsla(284, 32%, 31%, 0.74);
    margin-top: 1.5rem;    
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    align-items: center;
    box-shadow: 2px 3px 8px rgba(82, 47, 114, 0.575);
}

/* font properties */
.qoute{
    font-family: 'Open-sans';
    font-size: 2.5vw;
    margin-left: 0px;
    margin-right: auto;
    color: white;
}

/* button properties */
button{
    font-family: 'Open-sans';
    font-size: 2vw;
    color: white;
    margin-left: auto;
    margin-right: 0px;
    height: 5.5vw;
    width: 10vw;
    background-color: transparent;
    border: 1px solid hsla(278, 84%, 66%, 0.692);
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

/* click event */
button:active{
    background-color: hsla(278, 84%, 57%, 0.507);
    border: 1px solid hsla(278, 84%, 66%, 0.055);
    box-shadow: 0 0 9px 2px hsla(278, 84%, 66%, 0.363);
}

/* for screens => 481px */
@media (min-width : 481px) {
    
    /* new structure : grid */
    .grid-container{
        display: grid;
        grid-template-rows: 9.2vw 1fr 4vw;
    }

    .grid-item2{
        padding-top: 6vw;
    }

    /* resize */
    img{
        height: 5.5vw;
    }

    .attribution{
        font-size: 1vw;
    }

    /* new properties */
    .popup-container{
        width: 30%;
        height: 8vw;    
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }

    /* resize */
    .qoute{
        font-size: 1.5vw;
    }

    /* new properties */
    button{
        font-size: 1.2vw;
        height: 4vw;
        width: 8vw;
    }

    /* new event : hover */
    button:hover{
        background-color: hsla(278, 84%, 57%, 0.507);
        border: 1px solid hsla(278, 84%, 66%, 0.055);
        box-shadow: 0 0 9px 2px hsla(278, 84%, 66%, 0.363);
        cursor: pointer;
    }
}

/* for screens => 601px */
@media (min-width : 601px) {

    /* resize */
    .attribution{
        font-size: 0.5rem;
    }

    /* resize */
    .popup-container{
        width: 25%;
        height: 6vw;    
    }

    /* resize */
    .qoute{
        font-size: 1.2vw;
    }

    /* resize */
    button{
        font-size: 1vw;
        height: 3vw;
        width: 6vw;
    }

}


/* for screens => 901px */
@media (min-width : 901px) {

    /* new placement properties */
    .grid-container{
        display: grid;
        grid-template-rows: 12% 1fr 5%;
    }
    
    /* resize */
    nav{
        margin-left: 4rem;
        margin-right: 4rem;
    }

    /* resize */
    .grid-item2{
        margin-left: 4.8rem;
        margin-right: 4.8rem;
        padding-top: 5vw;
    }

    /* resize */
    img{
        height: 3rem;
    }

    /* resize */
    .attribution{
        font-size: 1vw;
    }

    /* resize */
    footer{
        margin-top: 1vw;
    }

    /* border radius resize */
    .popup-container{   
        border-top-right-radius: 2vw;
        border-top-left-radius: 2vw;
        border-bottom-left-radius: 2vw;
        border-bottom-right-radius: 2vw;
    }
}