@font-face {
    font-family: 'Poppings';
    src: url('../../assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Open-sans';
    src: url('../../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

main{
    display: flex;    
}

img{
    width: 100%;
}