<!-- content container -->
<!-- default is flex =< 480px -->
<!-- default => 481px then default == grid -->
<div class="container">

  <!-- grid 1 -->
  <main>

    <!-- left-side -->
    <img src="../../assets/images/illustration-mockups.svg" alt="images illustration" />

    <!-- right-side -->
    <div class="right-container">
      <header>
        <p>
          Build The Community Your Fans Will Love
        </p>
      </header>

      <section>
        <p>
          Huddle re-imagines the way we build communities. You have a voice,
          but so does your audience. Create connections with your users as you engage in genuine discussion.
        </p>
      </section>

      <div class="button-container">
        <button type="button" (click)="isformVisible()" >Register</button>
      </div>
    </div>

  </main>

  <!-- grid 2 -->
  <section class="icon-container">

    <div class="round-border">
      <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
    </div>
    
    <div class="round-border">
      <fa-icon [icon]="['fab','twitter']"></fa-icon>
    </div>
 
    <div class="round-border">
      <fa-icon [icon]="['fab','instagram']"></fa-icon>
    </div>

  </section>

  <!-- register form -->
  <section class="form" *ngIf="isFormVisible">
    <app-registerform></app-registerform>
  </section>

</div>

