@font-face {
    font-family: 'Poppings';
    src: url('../../assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Open-sans';
    src: url('../../assets/fonts/Open_Sans/static/OpenSans-Light.ttf');
}

.container, main{
    display: flex; 
    flex-direction: column;   
}

img{
    width: 100%;
    padding-bottom: 1rem;
}

.right-container{
    display: flex; 
    flex-direction: column; 
    padding-top: 3rem;
}

p{
    color: white;
    text-align: center;
    word-wrap: normal;
}

header > p{
    font-size: 7vw;
    font-family: 'Poppings';
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0px;
}

section > p{
    font-family: 'Open-sans';
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-size: 4.5vw;
    margin-bottom: 2rem;
}

.button-container{
    display: flex;
    justify-content: center;
}

button{
    border: 0px solid;
    border-radius: 4rem;
    width: 65vw;
    height: 10vw;
    color: var(--Violet);
    box-shadow: 2px 3px 8px rgba(75, 74, 74, 0.575);
    font-size: 3.5vw;
}

button:active{
    background-color: var(--Soft-Magenta);
    color: white;
}

.icon-container{
    display: flex;
    justify-content: center;
    margin-top: 12vw;
}

fa-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    color: white;
    border: 1px solid white;
    height: 9.5vw;
    width: 9.5vw;
    border-radius: 8.5vw;
    margin-right: 3vw;
}

fa-icon:active{
    color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
}

.form{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9vw;
    top: 0;
    left: 0;
}


/* for screens => 481px */
@media (min-width : 481px)  {
    
    .container{
        display: grid;
        grid-template-rows: 92% 8%;
    }

    main{
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .right-container{
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    img{
        margin-bottom: 0px;
    }

    p{
        text-align: start;
    }

    header > p{
        font-size: 2.1vw;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    section > p{
        font-size: 1.1vw;
        margin-bottom: 1rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    button{
        width: 14vw;
        height: 3.5vw;      
        font-size: 1.2vw;
    }

    button:hover{
        background-color: var(--Soft-Magenta);
        color: white;
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        cursor: pointer;
    }

    .button-container{
        justify-content: left;
    }

    .icon-container{
        margin-top: 0px;
        justify-content: end;
    }
    
    fa-icon{
        font-size: 1.2vw;
        height: 2.5vw;
        width: 2.5vw;
        border-radius: 1.5vw;
        border: 1px solid white;
    }

    fa-icon:hover{        
        color: var(--Soft-Magenta);
        border: 1px solid var(--Soft-Magenta);
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        cursor: pointer;
        
    }

}

/* for screens => 601px */
/* @media (min-width : 601px) {


} */


/* for screens => 901px */
@media (min-width : 901px) {
    
    .right-container{
        padding-top: 3rem;
    }

    header > p{
        font-size: 2.5vw;
    }

    section > p{
        font-size: 1.5vw;
    }

    .button-container{
        margin-top: 1.5vw;
    }

    .form{
        margin-right: 4.8rem;
    }
}