<div class="container">
  <main>

    <img src="../../assets/images/illustration-mockups.svg" alt="images illustration" />

    <div class="right-container">
      <header>
        <p>
          Build The Community Your Fans Will Love
        </p>
      </header>

      <section>
        <p>
          Huddle re-imagines the way we build communities. You have a voice,
          but so does your audience. Create connections with your users as you engage in genuine discussion.
        </p>
      </section>

      <div class="button-container">
        <button type="button">Register</button>
      </div>
    </div>

  </main>

  <section class="icon-container">

  </section>
</div>