<main>

    <div class="image-container">

      <button class="back-arrow" (click)="goBack()">
        <fa-icon [icon]="['fas','angles-left']"></fa-icon>
      </button>

      <button class="back-x" (click)="goBack()">
        <fa-icon [icon]="['fas','xmark']"></fa-icon>
      </button>

      <img src="../../assets/images/logo.svg" />

    </div>
    

    <div class="line"></div>

    <form #userForm = "ngForm" (ngSubmit)="onSubmit()">
        <div>
            <p>Register</p>
        </div>

        <div class="user-container">
            <label for="username">username : </label>
            <input name="username" type="text" [(ngModel)]="user.username" placeholder="kennedy" required="true"/>
        </div>

        <div class="password-container">
            <label for="password">password : </label>
            <input name="password" type="password" [(ngModel)]="user.password" placeholder="password" required="true"/>
        </div>

        <button class="submit" type="submit" >Register</button>

    </form>
</main>