<main>
    <img src="../../assets/images/logo.svg"/>

    <div class="line"></div>

    <section class="form">
        <div>
            <p>Register</p>
        </div>

        <div class="user-container">
            <label>username : </label>
            <input type="text" placeholder="kennedy"/>
        </div>

        <div class="password-container">
            <label>password : </label>
            <input type="password" placeholder="password"/>
        </div>

        <button type="button" (click)="goBack()">Register</button>

    </section>
</main>